.flip-card_back {
  display: none;
}

@include for-laptop {
  .flip-card {
    perspective: 1000;
    transform-style: preserve-3d;
  }

  .flip-card:hover .flip-card_back {
    transform: rotateY(0deg);
  }

  .flip-card:hover .flip-card_front {
    transform: rotateY(180deg);
  }

  .flip-card_container {
    transition: transform 0.8s cubic-bezier(0.5, 0.3, 0.3, 1);
    transform-style: preserve-3d;
    position: relative;
  }

  .flip-card_front,
  .flip-card_back {
    backface-visibility: hidden;
    transition: transform 0.8s cubic-bezier(0.5, 0.3, 0.3, 1);
    transform-style: preserve-3d;
    position: relative;
    top: 0;
    left: 0;
  }

  .flip-card_front {
    z-index: 2;
    transform: rotateY(0deg);
  }

  .flip-card_back {
    display: block;
    transform: rotateY(-180deg);
    position: relative;
  }
}
